*{
    margin: 0px;
    padding:0px;
}
.sidebar{
    margin-top: 1px;
    position: fixed;
    padding: 10px 10px 0 10px;
    padding-bottom: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15vw;
    height: 98.5vh;
    border: 2px solid grey;
    border-radius: 12px;
    background: #F4FAF4;;
    box-shadow:  1px 0 0 2px rgba(46,125,50,0.15);
    /* border: 2px solid red; */
}
.logo{
    display: flex;
    justify-content: center;
    height: 90px;
    width: 80%;
    background-image: url(/homepage/images/logo.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.panels{
    padding: 10px;
    gap: 8px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.panels p{
    padding-left: 20px;
    height: 45px;
    width: 90%;
    display: flex;
    align-items: center;
    gap: 10px;
    /* border: 2px solid grey; */
    border-radius:12px;
    font-size: 1.2rem;
    font-weight: bolder;
    box-shadow: 0px 1px 1px rgba(0,0,0,0.5);
}
.motivation-img{
    width: 100%;
    height: 100px;
    border-radius: 12px;
    background-image:url(./motivation-l&f\ \(1\).png) ;
    background-size: cover;
}
.panels p:hover{
    border-color: #2E7D32;
    box-shadow: 0 0 0 2px green;
    background-color: rgba(46,125,50,0.15);
    color: #2E7D32;
}