*{
    margin: 0px;
    padding:0px;
}
body{
    display: flex;
    height: 100vh;
    width: 100vw;
}
.sidebar{
    margin-top: 1px;
    position: fixed;
    padding: 10px 10px 0 10px;
    padding-bottom: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15vw;
    height: 98.5vh;
    border: 2px solid grey;
    border-radius: 12px;
    background: rgba(255,255,255,0.9);
    backdrop-filter: blur(12px);
    box-shadow:  1px 0 0 2px rgba(46,125,50,0.15);
    /* border: 2px solid red; */
}
.logo{
    display: flex;
    justify-content: center;
    height: 90px;
    width: 80%;
    background-image: url(/homepage/images/logo.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.panels{
    padding: 10px;
    gap: 8px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.panels p{
    padding-left: 20px;
    height: 45px;
    width: 90%;
    display: flex;
    align-items: center;
    gap: 10px;
    /* border: 2px solid grey; */
    border-radius:12px;
    font-size: 1.2rem;
    font-weight: bolder;
    box-shadow: 0px 1px 1px rgba(0,0,0,0.5);
}
.motivation-img{
    width: 100%;
    height: 100px;
    border-radius: 12px;
    background-image:url(./motivation-l&f\ \(1\).png) ;
    background-size: cover;
}
.panels p:hover{
    border-color: #2E7D32;
    box-shadow: 0 0 0 2px green;
    background-color: rgba(46,125,50,0.15);
    color: #2E7D32;
}
.navbar{
    position: fixed;
    left: calc(15vw + 24px); 
    width: calc(100vw - 15vw - 24px);
    height: 70px;
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(255,255,255,0.9);
    backdrop-filter: blur(12px);
    border-bottom: 2px solid grey;
    border-left:2px solid grey;
    border-radius: 12px;
    box-shadow:  0px 2px 0 2px rgba(46,125,50,0.15);
    /* color: green; */
}
.navbar-l{
    padding-left: 25px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    height: 2rem;
    width: 300px;
    font-size: 1.8rem;
    align-items: center;
}
.navbar-l p{
    width: 170px;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}
.navbar-c{
    width: 600px;
    height: 45px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0 15px;
    border: 1.8px solid #D1D5DB;
    border-radius: 12px;
    background: white;
}
.input{
    flex: 1;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1rem;
    background: transparent;
}
.navbar-c i{
    color: #9CA3AF;
    font-size: 1rem;
}
.navbar-r{
    height: 2rem;
    width: 200px;
    align-content: center;
    align-items: center;
    padding-right: 20px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-size: 1.8rem;
}
.navbar-l p:hover{
    color: #2E7D32;
    border-bottom:2px solid green;
}

.navbar-r i:hover{
    color: green;
}
.hero{
    position: fixed;
    top: 72.5px;
    left: calc(15vw + 24px); 
    width: calc(100vw - 15vw - 40px);
    height: 200px;
    border: 2px solid grey;
    display:flex;
    align-items: center;
    background: linear-gradient(
    135deg,
    #FFFDF8 0%,
    #F8FBF5 45%,
    #EEF6E8 75%,
    #E7F2DF 100%
);
border-radius: 12px;
 box-shadow:  0px 2px 0 2px rgba(46,125,50,0.15);
}
.text{
    padding-left:50px;
    width: 50%;
    height: 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}
.text p{
    font-size: 1.15rem;
}
.text h1{
    font-size: 2.5rem;
}
.button{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    width: 100%;
}
.button button{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3.5rem;
    width: 100%;
    font-size: 1.15rem;
    border-radius: 12px;
    border: 2px solid green;
    gap: 10px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.3);
    transition: all ease-in 0.5s;
}
.button button:hover{
    scale: 1.05;
}
.img{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 180px;
}

.img img{
    height: 95%;
    width: auto;
    object-fit: contain;
}
.statistics-card{
    position: fixed;
    top: 277px;
    left: calc(15vw + 27px);
    width: calc(100vw - 15vw - 40px); 
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    gap: 15px;
}
.cards{
    padding-left: 12px;
    border: 2px solid grey;
    width:25%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    border-radius: 12px;
    box-shadow:0px 4px 8px rgba(0, 0, 0, 0.3);
    transition: all ease-in 0.5s;
}
.stats{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    width: 65%;
    height: 100%;
}
.stats h1{
    font-weight: bold;
    font-size: 2.25rem;
}
.stats p{
    font-size: 1.3rem
}
.stats a{
    color:green;
    text-decoration: none;
    font-size: 1.1rem;
}
.icon{
    width: 30%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;   
    font-size: 4rem;
    color: green;
    background: rgba(34, 197, 94, 0.25);
    border-radius: 50%;
    box-shadow: 0 10px 30px rgba(34, 197, 94, 0.25);
}
.cards:hover{
    scale: 1.05;
}
.recents{
    position: fixed;
    top: 420px;
    left: calc(15vw + 27px);
    width: calc(100vw - 15vw - 40px); 
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 2px solid red; */
}
.recent-reports{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    border: 2px solid grey;
    border-radius: 12px;
}
.heading{
    height: 15%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.3rem;
    font-weight: bold;
    border-bottom: 2px solid grey;
}
.heading p,
a{
    padding-left: 20px;
    padding-right: 20px;
}
.grid{
    height: 85%;
    width: 100%;
}
.items{
    padding-left: 20px;
    padding-right: 20px;
    height: 25%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid grey;
}
.info p{
    margin-top: 5px;
}
.items img{
    width: 80px;
    height: 88%;
    border-radius: 12px;
    object-fit: cover;
}
.items button{
    height: 50%;
    width: 80px;
    border-radius: 10px;
    font-size: 1.15rem;
    background-color: rgba(34, 197, 94, 0.25);
    border: none;
    color: green;
}