*{
    margin: 0px;
    padding: 0px;

}
/* :root{
    --primary: #2E7D32;      
    --primary-light: #E8F5E9;
    --secondary: #F8FBF5;
    --white: #FFFFFF;
    --text: #1F2937;
    --text-light: #6B7280;
    --danger: #E53935;      
    --shadow: rgba(0,0,0,.08);
} */
body{
    background: linear-gradient(to right,#FCEBE4,#FCECE2,#EFFEBD);
}
.navbar{
    position: fixed;
    width: 100%;       
    box-sizing: border-box;
    height: 80px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #FFFFFF;
    box-shadow:0 2px 15px rgba(0,0,0,.06);
}
.logo{
    height: 79px;
    width: 800px;
    background-image: url(/homepage/logo.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.nav-anch a{
    text-decoration: none;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
}
.nav-anch button{
    font-weight: bold;
    color: black;
    background-color: #D9D9D9;
    height: 30px;
    width: 65px;
    border: #D9D9D9;
    border-radius: 10px;
    transition: all ease-in;
}
.nav-anch a:hover{
    transform: scale(1.08);
}
.nav-anch{
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
}
.hero-section{
    display: flex;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    background:
linear-gradient(
to right,
#FFFDF8,
#F8FBF5
);

}
.hero-left{
    width: 530px;
    padding-left: 240px;
    line-height: 0.95;
    /* gap: 8px; */
}
.hero-left h1{
    font-weight: bolder;
    font-size: 120px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.hero-left p{
    font-weight: bold;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.hero-right{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 80px;
    padding-right: 250px;

}
.hero-right button{
    height: 90px;
    width: 270px;
    border: 2px solid red;
    border-radius:15px;
    background-color: red;
    font-weight: bold;
    font-size: 30px;
    color: white;
    transition: all ease-in 0.4s;
}
.hero-right button:hover{
    transform: scale(1.05);
}
.hero-img{
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    gap: 10px;
}
.img1{
    height: 150px;
    width: 150px;
    border-radius: 12px;
    background-image:url(/homepage/images\ \(2\).jpeg) ;
    background-size: cover;
}
.img2{
    height: 150px;
    width: 150px;
    background-image:url(/homepage/images\ \(3\).jpeg) ;
    border-radius: 12px;
    background-size: cover;
}

.instruction{
    height: 520px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background:#F8FBF5;
}
.instruction h1{
    font-size: 2rem;
    font-family: cursive;
    text-align: center;
    height: 2.5rem;
    width: 15%;
    margin-bottom: 30px;
    border-bottom: 3px solid green;
}
.card-container{
    margin-top: 20px;
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.card-container img{
    margin-top: -40px;
    height: 60%;
    width: 90%;
    border-radius: 5%;
    object-fit: contain;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.3);
}
.card-container img:hover{
    transform: scale(1.05);
}
.cards{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 5px;
}
.cards h2{
    margin-top: 10px;
}
.cards p{
    margin: 10px;
}
.cards h3{
    height: 35px;
    width: 35px;
    margin-top: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    text-shadow: 0px 4px 10px rgba(0,0,0,0.3);
    background-color: red;
    color: white;
    align-content: center;
    border-radius: 50%;
    border:2px solid white;
}

.reason{
    height: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    background:#FFFFFF;
}
.reason h1{
    align-self: center;
    font-size: 2rem;
    font-family: cursive;
    text-align: center;
    height: 2.5rem;
    width: 20%;
    margin-top: 20px;
    border-bottom: 3px solid green; 
}
.reason-para{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.rpara{
    align-content: center;
    align-self: center;
    font-size: 1.5rem;
    width: 45%;
    height: 90%;
}
.rpara h2{
    margin-bottom:20px;
    font-size: 2.5rem;
}
.rimage{
    width: 40%;
    height: 100%;
    align-content: center;
    align-self: center;
}

.impact{
    height: 530px;
    width: 100%;
    display: flex;
    flex-direction: column;
    background:#F8FBF5;
}
.header{
    display: flex;
    height: 25%;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.header h1{
    font-family: cursive;
    height: 3.9rem;
    width: 25%;
    text-align: center;
    font-size: 2.5rem;
    color: green;
    margin-top: 20px;
    border-bottom: 2px solid black
}
.header p{
    font-size: 1.7rem;
    margin-bottom: 10px;
}
.impact-card{
    margin-top: 20px;
    margin-left: 80px;
    margin-right: 80px;
    height: 70%;
    display:grid;
    grid-template-columns:repeat(4,0.5fr);
    
    gap:100px;
}
.icard:hover{
    transform: scale(1.05);
}
.icard{
    margin-top: 15px;
    margin-bottom: 30px;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    gap:8px;
    border: 2px solid whitesmoke;
    background:white;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.3);
    border-radius: 5%;
}
.icard i{
    align-content: center;
    /* color: green; */
    background:#E8F5E9;
    color:#2E7D32;
    border: 2px solid white;
    height: 40%;
    width: 50%;
    border-radius: 50%;
    font-size: 6.5rem;
    box-shadow: 0px 4px 10px rgba(34, 197, 94, 0.25);
}
.num{
    font-weight: bolder;
    font-size: 2.75rem;
    color: green;
}
.icard h3{
    font-size: 1.5rem;
}
.icard p{
    margin-left: 10px;
    margin-right: 10px;
    align-self: center;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.footer-section{
    height: 175px;
    /* border: 2px solid white; */
    display: flex;
    justify-content: space-around;
    background:#1B4332;
    color:white;
}
.footer-links{
    padding-top: 25px;
    display: flex;
    flex-direction: column;
}
.footer-links a{
    text-align: center;
    text-decoration: none;
    color: black;
    color:#D8F3DC;
    display: block;
    padding-top: 5px;
    transition: all ease-in;
}
.footer-contact{
    text-align: center;
    padding-top: 20px;
    margin: 15px;
}
.footer-section h4{
    text-align: center;
    padding-bottom: 10px;
    font-weight: 900;
}
 .footer-logo{
    width:200px;
    height:80px;
    margin-top: 45px;
    background:white;
    border-radius:12px;
    padding:10px;
    background-image:url("logo.png");
    background-repeat:no-repeat;
    background-size:contain;
    background-position:center;
}
.sub-footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 45px;
    /* background-color: #D9D9D9; */
    border: 2px solid rgb(128, 128, 128);
    background: #163A2B;
    border-top: 1px solid rgba(255,255,255,0.1);
    color: #E8F5E9;
}
.footer-links a:hover{
    transform: scale(1.05);
    color:#FFFFFF;
}
